     html, body, #map_canvas {                
        height: 70%;
      }
        .auto-style1 {
            width: 896px;
            height: 473px;
            border: 1px solid #cccccc;
            background-color: #ffffff;
        }
        .auto-style3 {
            width: 202px;
        }
        .auto-style7 {
            height: 479px;
            width: 892px;
        }
        .auto-style11 {
            width: 202px;
            height: 24px;
        }
        .auto-style12 {
            width: 457px;
            height: 24px;
        }
        .auto-style13 {
            width: 457px;
        }
        .auto-style14 {
            width: 91%;
            float: left;
            height: 40px;
        }
        .auto-style15 {
            width: 202px;
            height: 26px;
        }
        .auto-style16 {
            width: 457px;
            height: 26px;
        }
        .auto-style17 {
            height: 52px;
        }
        .auto-style18 {
            width: 202px;
            height: 51px;
        }
        .auto-style19 {
            width: 457px;
            height: 51px;
        }
        .auto-style20 {
            width: 202px;
            height: 35px;
        }
        .auto-style21 {
            width: 457px;
            height: 35px;
        }
        .auto-style22 {
            width: 675px;
        }
        .auto-style23 {
            width: 202px;
            height: 29px;
        }
        .auto-style24 {
            width: 457px;
            height: 29px;
        }
